.opdia-envio-title{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-radius: 20px 20px 0px 0px;
}

.opdia-relative{
  position: relative;
}

.opdia-envio-container{
  border-radius: 0px 0px 20px 20px;
}

.opdia-envio-card1{
  padding: 0 5px 0 0;
}

.opdia-envio-card2{
  padding: 0 0 0 5px;
}

.opdia-smallinfo{
  margin-top: 10px;
}

.opdia-bottom-button{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0px 15px 15px 15px;
}

.opdia-envios-detalle{
  padding: 15px 8px 15px 15px;
  position: relative;
}

.opdia-height-overflow{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90%;
  padding-right: 8px;
}

.opdia-ver-todos{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 15px 15px 15px;
}

.opdia-table-container{
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 0px;
}

.opdia-table-container th {
  padding: 10px;
  font-size: larger;
  font-weight: 400;
}

.opdia-table-container td {
  padding: 10px;
}

.opdia-table-container tr {
  height: 50px;
}

.opdia-table-container tr:nth-child(even) {
  background-color: #393E46;
}

.opdia-table-container table tbody {
  display: block;
  max-height: 825px;
  overflow-y: scroll;
}

.opdia-table-container table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}