.simulador-SimulacionData{
  margin-top: 15px;
}

.titularesPDF{
  font-family: "montserratBolder";
  line-height: 1.1;
  margin-left: 10px;
}

.parametrosInforme{
  text-align: end; 
  line-height: 1.1;
  font-size: 10px;
  font-family: "montserrat";
  font-weight: bold;
}

.tituloReporte{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: center;
}

.subtituloReporte{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.bloqueTitularPDF{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bloqueTitularPDF2{
  display: flex;
  align-items: center;
}

.mapboxgl-popup {
  max-width: 00px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color:black;
  }

.reloj {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  top: 10px;
  width: 100%;
  }

.reloj-texto {
  background: #292323;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  text-align: center;
  }

.linea-reloj {
  margin: 5px -20px;
  border-top: white 4px solid;
  }

.linea-vuelo {
  margin: 0;
  border-top: black 4px solid;
  }